<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="wow fadeInDown shadow" data-wow-duration="2s">Lívia&nbsp;&amp;&nbsp;Guilherme</h1>
      <h2 class="wow fadeInUp shadow" data-wow-delay=".3s">vão se casar</h2>
      <h3 class="wow fadeIn shadow" data-wow-delay=".3s" data-wow-offset="-100">30 de janeiro de 2016 às 20h</h3>
      <hr>
      <a href="#sobre" class="btn btn-primary btn-xl page-scroll wow zoomIn" data-wow-delay=".3s" data-wow-offset="-200">Sobre nós</a>
    </div>
  </div>
</header>