<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="wow fadeInDown" data-wow-duration="2s">Lívia&nbsp;&amp;<br>Guilherme</h1>
      <h2 class="wow fadeInUp" data-wow-delay=".3s">vão se casar!</h2>
      <hr>
      <h3 class="wow fadeIn" data-wow-delay=".3s" data-wow-offset="-100">30 de Janeiro de 2016 às 20h</h3>
      <a href="#informacoes" class="btn btn-primary btn-xl page-scroll wow zoomIn" data-wow-delay=".3s" data-wow-offset="-200">Saiba mais</a>
    </div>
  </div>
</header>