<section class="bg-primary" id="informacoes">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <h2 class="section-heading wow fadeInDown">Informações</h2>
        <hr class="light">
        <div class="service-box">
          <i class="fa fa-4x fa-calendar wow bounceIn text-light"></i>
          <h3 class="wow fadeInLeft" data-wow-delay=".2s">30 de janeiro de 2016 às 20:00</h3>
        </div>
        <div class="service-box">
          <i class="fa fa-4x fa-map-marker wow bounceIn text-light" data-wow-delay=".2s"></i>
          <h3 class="wow fadeInLeft" data-wow-delay=".2s">Palatu's Eventos</h3>
          <p class="wow fadeInLeft" data-wow-delay=".2s">
            Av. Bento Gonçalves, 4314 - Porto Alegre, RS
            <small>Dentro do campus da PUCRS, em frente ao colégio Champagnat.</small>
          </p>
        </div>
      </div>
      <div class="col-lg-8 text-center">
        <div class="img-responsive img-thumbnail wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</section>