<section id="madrinhas" class="bg-primary">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading wow fadeInDown">Nossas Madrinhas</h2>
        <hr class="light">
        <p>Inteligentes, malucos, queridos e com coração de ouro: conheça nossos padrinhos.</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay=".2s">
          <img src="/img/madrinhas/ester.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Ester Loitzenbauer
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay=".4s">
          <img src="/img/madrinhas/elen.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Elen Griebler
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay=".6s">
          <img src="/img/madrinhas/flora.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Flora Taschetto
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay=".8s">
          <img src="/img/madrinhas/silvana.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Silvana Santi
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay="1s">
          <img src="/img/madrinhas/vanessa.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Vanessa Lima
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay="1.2s">
          <img src="/img/portfolio/6.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                ???
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay="1.4s">
          <img src="/img/madrinhas/nena.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Francis Acuña
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay="1.6s">
          <img src="/img/madrinhas/katia.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Kátia Queiroz
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>