<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Lí <i class="fa fa-heart text-primary wow tada infinite"></i> Gui</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="#sobre">Sobre nós</a></li>
        <li><a class="page-scroll" href="#galeria">Galeria</a></li>
        <li><a class="page-scroll" href="#evento">O evento</a></li>
        <li><a class="page-scroll" href="#madrinhas">Madrinhas</a></li>
        <li><a class="page-scroll" href="#padrinhos">Padrinhos</a></li>
        <li><a class="page-scroll" href="#rsvp">RSVP</a></li>
        <li><a class="page-scroll" href="#presentes">Presentes</a></li>
      </ul>
    </div>
  </div>
</nav>