<section id="padrinhos" class="bg-dark" style="padding-bottom: 20px;">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading wow fadeInDown">Nossos Padrinhos</h2>
        <hr class="light">
        <p>Malucos, queridos e com coração de ouro: conheça nossos padrinhos.</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay=".2s">
          <img src="/img/padrinhos/jeremias.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Jeremias Wolff
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay=".4s">
          <img src="/img/padrinhos/antonio.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Antônio da Fontoura
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay=".6s">
          <img src="/img/padrinhos/rodrigo.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Rodrigo Zandonai
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay=".8s">
          <img src="/img/padrinhos/carlos.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Carlos Flores
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay="1s">
          <img src="/img/padrinhos/avila.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Marcelo Ávila
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay="1.2s">
          <img src="/img/padrinhos/felipinho.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Felipe Harzheim
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay="1.4s">
          <img src="/img/padrinhos/zani.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Márcio Zani
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="portfolio-box wow fadeIn" data-wow-delay="1.6s">
          <img src="/img/padrinhos/marcelo.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Marcelo Souza
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>