<section class="bg-secondary" id="presentes">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <h2 class="section-heading wow fadeInDown">Quer nos presentear?</h2>
        <hr class="primary">
        <p>
        Ficaremos muito felizes se você puder colaborar com nossa lua-de-mel em <strong>Nova York</strong>! Clique no link abaixo para saber como você pode nos ajudar!
        </p>
        <p>
          <a class="btn btn-default btn-xl page-scroll bounceIn wow zoomIn" data-wow-delay=".3s">Colabore com nossa Lua-de-mel</a>
        </p>
      </div>
      <div class="col-lg-8 text-center">
        <img src="/img/newyork.jpg" class="img-responsive img-thumbnail wow fadeInUp" data-wow-delay=".3s">
      </div>
    </div>
  </div>
</section>