<section class="bg-secondary" id="presentes">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
        <p>
          <a class="btn btn-primary btn-xl page-scroll bounceIn wow" data-wow-delay=".1s">Ver a Lista de Presentes</a>
        </p>
      </div>
      <div class="col-lg-8 text-center">
        <img src="/img/newyork.jpg" class="img-responsive img-thumbnail">
      </div>
    </div>
  </div>
</section>