<section id="rsvp">
  <div class="container vcenter">
    <div class="row">
      <div class="col-lg-4 text-center">
        <h2 class="section-heading">R.S.V.P.</h2>
        <hr class="primary">
        <p>Realize a confirmação de sua presença em nosso casamento entrando em contato com nossa cerimonialista por telefone ou por e-mail.</p>
        <div class="service-box">
          <i class="fa fa-phone fa-3x wow tada infinite"></i>
          <p>(51) 9777-8095 (celular)</p>
        </div>
        <div class="service-box">
          <i class="fa fa-envelope-o fa-3x wow pulse infinite" data-wow-delay=".1s"></i>
          <p><a href="mailto:rsvp@parasempreassessoria.net">rsvp@parasempreassessoria.net</a></p>
        </div>
      </div>
      <div class="col-lg-8 text-center">
        <form action="//formspree.io/gtaschetto@gmail.com"
              method="POST">
          <input type="text" name="name">
          <input type="email" name="_replyto">
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>
</section>