<section id="rsvp">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">R.S.V.P.</h2>
        <hr class="primary">
        <p>Realize a confirmação de sua presença em nosso casamento entrando em contato com nosso cerimonial por telefone ou por e-mail.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x wow tada infinite"></i>
        <p>(51) 9777-8095 (celular)</p>
        <p>(51) 3398-6418 (fixo)</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x wow pulse infinite" data-wow-delay=".1s"></i>
        <p><a href="mailto:rsvp@parasempreassessoria.net">rsvp@parasempreassessoria.net</a></p>
      </div>
    </div>
  </div>
</section>