        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
        <script src="/bower_components/jquery.easing/js/jquery.easing.min.js"></script>
        <script src="/bower_components/FitText.js/jquery.fittext.js"></script>
        <script src="/bower_components/wow/dist/wow.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/bower_components/gmaps/gmaps.min.js"></script>
        <script src="js/jquery.bcSwipe.min.js"></script>
        <script src="/js/creative.js"></script>

          <script>
            var map = new GMaps({
              el: '#map',
              lat: -30.0611096,
              lng: -51.172325,
              zoom: 17
            });

            map.addMarker({
              lat: -30.0611096,
              lng: -51.172325,
              title: 'Lima',
              infoWindow: {
                content: '<p>HTML Content</p>'
              },
              click: function(e) {
                map.setCenter(-30.0611096, -51.172325);
              }
            });

            // Carousel Auto-Cycle
            $(document).ready(function() {
              var c = $('#carousel');
              c.carousel({
                interval: 2500
              })
              c.bcSwipe({ threshold: 50 });
            });
            
            $("#sucesso").hide();
            $("#erro").hide();
            
            $("#voltar").click(function() {
                $("#confirmacao").toggle();
                $("#erro").toggle();
            });

            $("#confirmacao").submit(function(event) {
              var formData = $('#confirmacao').serialize();
              $.ajax({
                type: "POST",
                url: "//formspree.io/gtaschetto@gmail.com",
                data: formData,
                dataType: "json"
              }).done(function(data) {
                $("#confirmacao").toggle();
                $("#sucesso").toggle();
                $("#sucesso #nome").text($("#confirmacao #nome").val());
                $("#sucesso #adultos").text($("#confirmacao #adultos").val());
                $("#sucesso #criancas").text($("#confirmacao #criancas").val());
                $("#sucesso #email").text($("#confirmacao #email").val());
                $("#sucesso #telefone").text($("#confirmacao #telefone").val());
              }).fail(function() {
                $("#confirmacao").toggle();
                $("#erro").toggle();
              });

              event.preventDefault();
            });
          </script>
