<section id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading wow fadeInDown">Sobre nós</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-5 col-lg-offset-1 text-center">
        <h2 class="section-heading text-primary wow fadeInLeft" data-wow-delay=".2s">O Gui pela Lí</h2>
        <p class="text-justify wow fadeIn" data-wow-delay=".2s" data-wow-duration="1.5s">Blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá. Blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá.</p>
      </div>
      <div class="col-lg-5 text-center">
        <h2 class="section-heading text-secondary wow fadeInRight" data-wow-delay=".2s">A Lí pelo Gui</h2>
        <p class="text-justify wow fadeIn" data-wow-delay=".2s" data-wow-duration="1.5s">Blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá. Blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá.</p>
      </div>
    </div>
  </div>
</section>